label {
    font-size: 10pt;
    font-family: Geneva, Verdana, sans-serif;
}

#loader {
    display: none;
}

#loader.active {
    display: initial;
}

#loader h2 {
    font-family: Courier New, Courier, monospace;
    font-size: 12pt;
}

#loader h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
}

.form {
    padding: 20px;
    margin-top: 5%;
}

.form div, #doc-title {
    margin: 10px;
}

.form div button, .form div input {
    margin-left: 20px;
}

.form #error-text {
    color: red;
    bottom: 8px;
    right: 80px;
    position: fixed;
}

.form #next {
    bottom: 20px;
    right: 20px;
    position: fixed;
}

.form .checkbox label {
    margin-left: 20px;
}

#options {
    margin-top: 20px;
    margin-left: 60px;
}

#header-format {
    font-size: 9pt;
    font-family: monospace;
    background-color: #F1F1F1;
    border-radius: 3px;
}